
html,
body {
  height: 100%;
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
 
  
  
}



#header{
  background-size: 100% 500px;
  background-color: #000000;
  margin: 0px;
   padding: 0px;
 
}
#headercontent{
 margin: 0px auto;width: 100%;
 padding: 0px;
 
