 
html,
body {

  margin: 0px;
  padding: 0px;
  width:100%;
 
  
  
}

#gradient{
  height:100vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;
  overflow:hidden;


  
 
}

#headertext{
 color:#fff;
 font-size: 50px;
font-family: "Comic Sans MS", cursive, sans-serif;
  overflow:hidden;

}
 
 #testdiv{
  height:100%;
  width: 100vw;
  background-color: #fff;
 }
 
div.a {

position:absolute;


    
}

