 
html,
body {

  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
 
  
  
}

#gradient{
  height:100vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;
  overflow: hidden;


  
 
}


 
 #testdiv{
  height:100%;
  width: 100vw;
  background-color: #fff;
 }
 
div.a {
width: 50px;
height:50px;
 background-color:red;

    
}

